*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.all{
    display: grid;
    grid-template-columns: 1fr 4fr;
}
.all #myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: rgb(0, 60, 255); /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

.all #myBtn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}

 /* Style the search box */
 .tab{
    height: 100%; 
    padding-top: 20px;
 }
.all .tab #mySearch {
    width: 100%;
    font-size: 18px;
    padding: 11px;
    border: 1px solid #ddd;
  }
  
  /* Style the navigation menu */
.all .tab #myMenu {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  /* Style the navigation links */
.all .tab #myMenu li a {
    padding: 12px;
    text-decoration: none;
    color: black;
    display: block;
    font-size: 20px;
  }
  
.all .tab #myMenu li a:hover {
    background-color: #eee;
  } 


   /* Style all font awesome icons */
#fa1 {
    padding: 20px;
    font-size: 25px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    background-color: rgb(255, 255, 255);
  }
  
  /* Add a hover effect if you want */
  #fa1:hover {
    opacity: 0.7;
  }
 /*-------------------------------------------*/ 
/*end of tab*/

/* Position the image container (needed to position the left and right arrows) */
.container {
    position: relative;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Add a pointer when hovering over the thumbnail images */
  .cursor {
    cursor: pointer;
  }
  
  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* Container for image text */
  .caption-container {
    text-align: center;
    background-color: rgb(236, 235, 235);
    padding: 2px 16px;
    color: rgb(0, 0, 0);
    width: 1150px;
    font-family: 'Noto Nastaliq Urdu', serif;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Six columns side by side */
  .column {
    float:right;
    width: 16.66%;
  }
  
  /* Add a transparency effect for thumnbail images */
  .demo {
    opacity: 0.6;
  }
  
  .active,
  .demo:hover {
    opacity: 1;
  }
  /*end of contant1*/
  /*------------------------------------*/
  .contant2{
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
  }

  .contant2 .photo{
    margin-left: 50px;
  }
  .contant2 .photo .img-comp-container {
    position: relative;
    height: 200px; /*should be the same height as the images*/
  }
  
  .contant2 .photo .img-comp-img {
    position: absolute;
    width: auto;
    height: auto;
    overflow: hidden;
  }
  
  .contant2 .photo .img-comp-img img {
    display: block;
    vertical-align: middle;
  }
  
  .contant2 .photo .img-comp-slider {
    position: absolute;
    z-index: 9;
    cursor: ew-resize;
    /*set the appearance of the slider:*/
    width: 40px;
    height: 40px;
    background-color: #2196F3;
    opacity: 0.7;
    border-radius: 50%;
  }

  /*end of photo*/

  .contant2 .droplist h4{
    color: gray;
    font-family: 'Comforter Brush', cursive;
    font-family: 'Orbitron', sans-serif;
    font-size: 20px;
  }
  .contant2 .droplist h1{
    font-family: 'Bebas Neue', cursive;
    font-size: 50px;
  }

   /* Style the buttons that are used to open and close the accordion panel */
   .contant2 .droplist .accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;

  
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.contant2 .droplist .active, .accordion:hover {
  background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */
.contant2 .droplist .panel {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
} 
#list{
  margin-top: 50px;
}

/*end of the droplist*/

.whatido{
  margin-top: 200px;
  margin-left: 50px;
}
.whatido h4{
  color: gray;
  font-family: 'Comforter Brush', cursive;
  font-family: 'Orbitron', sans-serif;
  font-size: 20px;
}
.whatido h1{
  font-family: 'Bebas Neue', cursive;
  font-size: 50px;
}
.container1{
  margin-top: 60px;
}
.tile-progress {
  background-color: #303641;
  color: #fff;
  }
  .tile-progress {
  background: #00a65b;
  color: #fff;
  margin-bottom: 20px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  }
  .tile-progress .tile-header {
  padding: 15px 20px;
  padding-bottom: 40px;
  }
  .tile-progress .tile-progressbar {
  height: 2px;
  background: rgba(0,0,0,0.18);
  margin: 0;
  }
  .tile-progress .tile-progressbar span {
  background: #fff;
  }
  .tile-progress .tile-progressbar span {
  display: block;
  background: #fff;
  width: 0;
  height: 100%;
  -webkit-transition: all 1.5s cubic-bezier(0.230,1.000,0.320,1.000);
  -moz-transition: all 1.5s cubic-bezier(0.230,1.000,0.320,1.000);
  -o-transition: all 1.5s cubic-bezier(0.230,1.000,0.320,1.000);
  transition: all 1.5s cubic-bezier(0.230,1.000,0.320,1.000);
  }
  .tile-progress .tile-footer {
  padding: 20px;
  text-align: right;
  background: rgba(0,0,0,0.1);
  -webkit-border-radius: 0 0 3px 3px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 0 0 3px 3px;
  -moz-background-clip: padding;
  border-radius: 0 0 3px 3px;
  background-clip: padding-box;
  -webkit-border-radius: 0 0 3px 3px;
  -moz-border-radius: 0 0 3px 3px;
  border-radius: 0 0 3px 3px;
  }
  .tile-progress.tile-red {
  background-color: #f56954;
  color: #fff;
  }
  .tile-progress {
  background-color: #303641;
  color: #fff;
  }
  .tile-progress.tile-blue {
  background-color: #0073b7;
  color: #fff;
  }
  .tile-progress.tile-aqua {
  background-color: #00c0ef;
  color: #fff;
  }
  .tile-progress.tile-green {
  background-color: #00a65a;
  color: #fff;
  }
  .tile-progress.tile-cyan {
  background-color: #00b29e;
  color: #fff;
  }
  .tile-progress.tile-purple {
  background-color: #ba79cb;
  color: #fff;
  }
  .tile-progress.tile-pink {
  background-color: #ec3b83;
  color: #fff;
  }
/* Container for skill bars */
.container {
  width: 100%; /* Full width */
  background-color: #ddd; /* Grey background */
}

.skills {
  text-align: right; /* Right-align text */
  padding-top: 10px; /* Add top padding */
  padding-bottom: 10px; /* Add bottom padding */
  color: white; /* White text color */
}

.html {width: 90%; background-color: #04AA6D;} /* Green */
.css {width: 80%; background-color: #2196F3;} /* Blue */
.js {width: 65%; background-color: #f44336;} /* Red */
  /*end of mywork*/

  .mywork{
    margin-top: 100px;
    margin-left: 50px;
  }
  .mywork h4{
    color: gray;
    font-family: 'Comforter Brush', cursive;
    font-family: 'Orbitron', sans-serif;
    font-size: 20px;
  }
  .mywork h1{
    font-family: 'Bebas Neue', cursive;
    font-size: 50px;
  }
  .mywork .img1{
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    
  }

  .mywork .img1 .container {
    position: relative;
    width: 95%;
  }
  
  .mywork .img1 .image {
    display: block;
    width: 100%;
    height: auto;
    margin-top: 10px;
  }
  
  .mywork .img1 .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #008CBA;
  }
  
  .mywork .img1 .container:hover .overlay {
    opacity: 1;
  }
  
  .mywork .img1 .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: 'Noto Nastaliq Urdu', serif
  }

/*end of mywork*/

.blog1{
  margin-top: 100px;
  margin-left: 50px;
}
.blog1 h4{
  color: gray;
  font-family: 'Comforter Brush', cursive;
  font-family: 'Orbitron', sans-serif;
  font-size: 20px;
}
.blog1 h1{
  font-family: 'Bebas Neue', cursive;
  font-size: 50px;
}
.blog1 .cards{
  display: grid;
  margin-top: 30px;
  grid-template-columns: repeat(3 , 1fr);
}
.blog1 .card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 300px;
  margin: auto;
  text-align: center;
}

.blog1 .title {
  color: grey;
  font-size: 18px;
}

.blog1 button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.blog1 a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

.blog1 button:hover, a:hover {
  opacity: 0.7;
}
.cards .card img:hover{
  /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: shake 0.5s;

  /* When the animation is finished, start again */
  animation-iteration-count: infinite; 
}
@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}
/*end of blog 1*/
/*------------------------------------*/
.form{
  margin-top: 100px;
  margin-left: 50px;
}
.form h1{
  font-family: 'Bebas Neue', cursive;
  font-size: 50px;
}
 /* Style inputs, select elements and textareas */
 input[type=text], select, textarea{
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}

/* Style the label to display next to the inputs */
label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

/* Style the submit button */
input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

/* Style the container */
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

/* Floating column for labels: 25% width */
.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

/* Floating column for inputs: 75% width */
.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}
/*end of form*/
/*------------------------------------*/
.map{
  margin-top: 100px;
  margin-left: 50px;
  border-radius: 10px;
}
.map h1{
  font-family: 'Bebas Neue', cursive;
  font-size: 50px;
}
.map iframe{
  border-radius: 10px;
}